package templates

templ Home() {
	@Layout("Time Tracker") {
		<section class="hero is-primary is-medium">
			<div class="hero-body">
				<p class="title">Time Tracker</p>
				<p class="subtitle">Track your time, stay in control.</p>
			</div>
		</section>
	}
}
